[Desktop Entry]
Type=Application
Version=1.5
Name=Open Rails
GenericName=Train Simulator
Comment=Drive trains on Microsoft Train Simulator routes
Exec=open-rails
Icon=open-rails
Terminal=false
Categories=Game;Simulation;
Keywords=train;railway;railroad;simulator;MSTS;
StartupNotify=true
