[Desktop Entry]
Type=Application
Version=1.5
Name=Riel
GenericName=Train Simulator
Comment=Drive Microsoft Train Simulator routes natively on Linux
Exec=riel start
Icon=riel
Terminal=false
Categories=Game;Simulation;
Keywords=train;railway;railroad;simulator;MSTS;
StartupNotify=true
